.flex-container {
  border: none;
  margin-bottom: 0;
}

#masthead {
  background-color: transparent;

  .site-logo {
    z-index: 1;

    > a {

      > img {
        height: $logo-height;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  #page {
    position: relative;

    #masthead-wrap {
      position: fixed;
      width: 100%;
      z-index: 101;
      background-color: $header-brackground;
    }
  }

  #masthead {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    //align-content: center;
    align-items: flex-start;

    overflow-y: visible;
    height: $header-height + $header-padding * 2;
    min-height: 0;
    padding: $header-padding 0;
    z-index: 100;

    .site-logo {
      position: relative;
      margin: 7px 15px;

      > .logo-background {
        position: absolute;
        top: $header-height + 3px;
        left: 50%;
        transform: translateX(-50%);
        //width: 400%;
        max-width: none;
        z-index: -1;
        pointer-events: none;

        path#svg_1 {
          fill: $header-brackground;
        }
      }
    }

    .main-navigation {
      width: auto;
      margin: 0;

      &.nav-1 {
        order: -1;
      }

      &.nav-social {
        position: absolute;
        right: 0;
      }

      li {
        background-color: transparent;
        vertical-align: bottom;
      }

      a {
        height: $header-height;
        line-height: $header-height;
        font-size: 16px;
      }

      .sub-menu {
        width: auto;
        padding-top: $header-padding;

        > li > a {
          height: 100%;
          line-height: 100%;
          background: $header-brackground;
        }
      }

      ul > li:hover > .sub-menu {
        top: $header-height;
      }
    }
  }
}
