
.stickyHead {
  padding: 10px 0;

  &.is-sticky {
    display: none;
  }
}

#page {
  position: relative;

  #masthead-wrap {
    position: fixed;
    width: 100%;
    z-index: 101;
    background-color: rgba(255, 255, 255, .75);
  }
}

.flex-container {
  border: none;
  margin-bottom: 0;

  .flexslider {
    //max-height: 100vh;
    //min-height: 700px;

    > .slides {
      > li {
        > img {
          opacity: 0.7;
          height: 100% !important;
        }
      }
    }
  }
}

.header_container {
  position: relative;
  overflow-y: visible;
  background-color: transparent;
  height: $header-height;
  min-height: 0;
  z-index: 100;

  .site-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
    margin-top: 6px;

    > a {

      > img {
        height: $logo-height;
      }
    }
  }

  .main-navigation {
    position: absolute;
    bottom: 50%;
    right: 0;
    height: $nav-height;
    width: 45%;
    vertical-align: bottom;
    transform: translateY(50%);

    li {
      background-color: transparent;
      vertical-align: bottom;
    }

    a {
      font-size: 16px;
      height: $nav-height;
      line-height: $nav-height;
    }

    ul > li > ul {
      width: auto;
    }

    ul > li:hover > ul {
      top: $nav-height;
    }
  }
}
