.flex-container {
  border: none;
  margin-bottom: 0;
}

#masthead {
  background-color: transparent;

  .site-logo {
    z-index: 1;

    > a {

      > img {
        height: $logo-height;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  #page {
    position: relative;

    #masthead-wrap {
      position: fixed;
      width: 100%;
      z-index: 101;
      background-color: $nav-brackground;
    }
  }

  #masthead {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

    overflow-y: visible;
    height: $header-height + 20px;
    min-height: 0;
    padding: $nav-padding 0;
    z-index: 100;

    .site-logo {
      margin: 7px 15px;
    }

    .main-navigation {
      width: auto;
      margin: 0;

      &.nav-1 {
        order: -1;
      }

      li {
        background-color: transparent;
        vertical-align: bottom;
      }

      a {
        height: $header-height;
        line-height: $header-height;
        font-size: 16px;
      }

      .sub-menu {
        width: auto;
        padding-top: $nav-padding;

        > li > a {
          height: 100%;
          line-height: 100%;
          background: $nav-brackground;
        }
      }

      ul > li:hover > .sub-menu {
        top: $header-height;
      }
    }
  }
}
