// White Banner
.flex-caption-title,
.featuretext {
  width: 100%;

  > h2,
  > h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 0;
    color: black;
    background: rgba(255, 255, 255, 0.8);
  }
}

.flex-caption-title {
  > h2,
  > h3 {
    bottom: 50%;
    transform: translateY(50%);
  }
}

// Blue Banner
.featuretext_container,
.entry-header {
  position: relative;
  width: 100%;
  min-height: 0;
  padding: 12px 0;
  margin: 10px auto;
  background: $cyan;
  border: none;
  text-align: center;
  color: white;


  .featuretext_top > h3,
  .title-container > .page-title {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    color: inherit;
    text-align: center;
    font-size: 3.4rem;
    text-shadow: none;

    &:before,
    &:after {
      content: " ~ ";
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: $brand-color;
  }

  &:after {
    top: inherit;
    bottom: -10px;
  }
}

// Feature Boxes
.featuretext_middle {

  .col.span_1_of_3 {
    &:nth-child(3n+1) { //TODO wrong!
      margin-left: 0;
    }
  }

  .featuretext {
    position: relative;
    padding: 0;
    transition: transform 0.4s ease-in-out;

    &:hover {
      transform: scale(1.1, 1.1);
      transition: transform 0.4s ease-in-out;

      > img {
        transform: none;
      }
    }

    > img,
    > h2 {
      display: block;
    }

    > p {
      display: none;
    }
  }
}

// Panorama
.featuretext-panorama {
  position: relative;
  height: 700px;
  color: white;

  .flex-caption {
    width: 100%;
    padding: 0;
  }
}