body.single-recipe {
  .entry-header {
    margin-bottom: 0;
  }

  #primary {
    width: 100%;
  }

  #content {
    margin: 0;
  }
}

article.recipe {
  margin-top: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .recipe-ingredients,
  .entry-content,
  .recipe-image,
  .recipe-meta {
    float: left;
  }

  .recipe-ingredients,
  .recipe-image {
    width: 500px;
  }

  .recipe-meta,
  .entry-content {
    width: calc(100% - 500px);
  }

  .recipe-heading {
    border-bottom: $grey-border;

    > .recipe-image {

      > a > img {
        display: block;
      }
    }

    > .recipe-meta {
      clear: none;
      padding: $block-padding;

      > .recipe-excerpt,
      > .entry-meta {
        margin-bottom: $block-padding;
        padding-bottom: $block-padding;
        border-bottom: $grey-border;
      }

      > .recipe-excerpt {
        font-style: italic;

        &:before,
        &:after {
          content: "\"";
          display: inline;
        }
      }

      > .entry-meta {
        padding-top: 0;
        padding-left: 0;
      }

      > .recipe-fields {
        margin-left: 0;

        > li > span {
          font-weight: bold;
        }
      }
    }
  }

  .recipe-content {
    h2 {
      margin-top: 0;
    }
    
    > .recipe-ingredients {
      padding: $block-padding;
    }
    
    > .entry-content {
      padding: $block-padding;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}