$logo-height: 150px;
$gold: #c59d5f;
$cyan: #43C0C2;

.stickyHead {
  padding: 10px 0;

  &.is-sticky {
    display: none;
  }
}

.flex-container {
  border: none;
}

.header_container {
  background-color: transparent;
}

.site-logo {
  display: inline-block;
  text-align: center;

  > a {

    > img {
      height: 100px;
    }
  }
}

.main-navigation {
  a {
    font-size: 16px;
  }
}

.flexslider {
  //max-height: 100vh;
  //min-height: 700px;

  > .slides {
    > li {
      > img {
        opacity: 0.7;
        height: 100% !important;
      }
    }
  }
}

.col.span_1_of_3 {
  &:nth-child(3n+1) { //TODO wrong!
    margin-left: 0;
  }
}

.flex-caption-title,
.featuretext {

  h2,
  h3 {
    background: none;
    padding-bottom: 0;
  }
}

.featuretext_container {
  position: relative;
  width: 100%;
  max-width: 1160px;
  padding: 10px 0;
  margin: 0 auto 40px;
  border-radius: 0.6em;
  background: #FFF;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1), 0 -5px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 700;
}

.featuretext-panorama {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-position: center;
  background-size: cover;
  color: white;
}

.featuretext_container + .featuretext-panorama {
  margin-top: -110px;
}

.site-footer {
  border-top: none;
}

.elementor-widget-button .elementor-button {
  background-color: $gold !important;
  color: white;

  &:visited {
    color: white;
  }

  &:active,
  &:hover {
    color: whitesmoke;
  }
}