$gold: #c59d5f;
$cyan: #52babb;
$brand-color: $cyan;
$logo-height: 150px;
$header-height: 50px;
$header-padding: 10px;
$header-brackground: rgba(255, 255, 255, .75);

.section {
  padding: 0;
}

@import "homepage";
@import "header";
@import "footer";
@import "pages";