.site-logo {
  display: inline-block;
  text-align: center;

  > a {

    > img {
      height: 100px;
    }
  }
}

.flexslider {
  //max-height: 100vh;
  //min-height: 700px;

  > .slides {
    > li {
      > img {
        opacity: 0.7;
        height: 100% !important;
      }
    }
  }
}

.col.span_1_of_3 {
  &:nth-child(4n) {
    margin-left: 0;
  }
}

.featuretext_container {
  position: relative;
  width: 100%;
  max-width: 1160px;
  padding: 10px 0;
  margin: 0 auto 40px;
  border-radius: 0.6em;
  background: #FFF;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1), 0 -5px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 700;
}

.featuretext-panorama {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-position: center;
  background-size: cover;
  color: white;
}

.featuretext_container + .featuretext-panorama {
  margin-top: -110px;
}

.site-footer {
  border-top: none;
}