$logo-height: 150px;
$header-height: 50px;
$nav-height: $header-height / 2;
$gold: #c59d5f;
$cyan: #52babb;
$brand-color: $cyan;

.section {
  padding: 0;
}

@import "homepage";
@import "header";
@import "footer";
@import "pages";