$gold: #c59d5f;
$cyan: #52babb;
$brand-color: $cyan;
$logo-height: 150px;
$header-height: 50px;
$header-padding: 10px;
$header-brackground: rgba(255, 255, 255, .8);
$grey-border: 1px solid #ecf1f5;

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.clearfix {
  @include clearfix;
}

.section {
  padding: 0;
}

@import 'forms';
@import 'homepage';
@import 'header';
@import 'footer';
@import 'pages';
@import 'recipes';