$logo-height: 150px;
$header-height: 100px;
$nav-height: $header-height / 2;
$gold: #c59d5f;
$cyan: #43C0C2;

.stickyHead {
  padding: 10px 0;

  &.is-sticky {
    display: none;
  }
}

.flex-container {
  border: none;
}

.header_container {
  position: relative;
  overflow-y: visible;
  background-color: transparent;
  height: $header-height;
  z-index: 100;

  .site-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;

    > a {

      > img {
        height: $logo-height;
      }
    }
  }

  .main-navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    vertical-align: bottom;
    height: $nav-height;
    width: 45%;

    li {
      background-color: transparent;
      vertical-align: bottom;
    }

    a {
      font-size: 16px;
      height: $nav-height;
      line-height: $nav-height;
    }

    ul > li > ul {
      width: auto;
    }

    ul > li:hover > ul {
      top: $nav-height;
    }
  }
}

.flexslider {
  //max-height: 100vh;
  //min-height: 700px;

  > .slides {
    > li {
      > img {
        opacity: 0.7;
        height: 100% !important;
      }
    }
  }
}

.col.span_1_of_3 {
  &:nth-child(3n+1) { //TODO wrong!
    margin-left: 0;
  }
}

.header-image {
  margin-bottom: -74px;
}

.flex-caption-title,
.featuretext {

  h2,
  h3 {
    background: none;
    padding-bottom: 0;
  }
}

.featuretext_container,
.entry-header {
  position: relative;
  width: 100%;
  padding: 10px 0;
  margin: 10px auto 50px;
  background: $cyan;
  //box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1), 0 -5px 12px rgba(0, 0, 0, 0.1);
  border: none;
  text-align: center;
  color: white;
  z-index: 700;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: $cyan;
  }

  &:after {
    top: inherit;
    bottom: -10px;
  }

  .page-title {
    color: inherit;
    text-shadow: none;
  }
}

.featuretext_middle {

  .featuretext {
    position: relative;
    padding: 0;
    transition: transform 0.4s ease-in-out;

    &:hover {
      transform: scale(1.1, 1.1);
      transition: transform 0.4s ease-in-out;

      > img {
        transform: none;
      }
    }

    > img,
    > h2 {
      display: block;
    }

    > h2 {
      position: absolute;
      bottom: 0;
      width: calc(100% - 20px);
      padding: 15px 10px;
      margin-bottom: 0;
      color: black;
      background-color: rgba(255, 255, 255, 0.8);
    }

    > p {
      display: none;
    }
  }
}

.featuretext-panorama {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-position: center;
  background-size: cover;
  color: white;
}

.featuretext_container + .featuretext-panorama {
  margin-top: -110px;
}

.site-footer {
  border-top: none;
}

.elementor-widget-button .elementor-button {
  background-color: $gold !important;
  color: white;

  &:visited {
    color: white;
  }

  &:active,
  &:hover {
    color: whitesmoke;
  }
}